<div class="container-fluid">
  <app-page-title title="Import AIPN To XML" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="card-box">
    <div>
      <button class="btn btn-primary btn-lg mr-2" (click)="GenXML()">Gen XML</button>
      <input #_filexml accept="application/xml" type="file" (change)="handleUpload($event)" hidden>
      <button class="btn btn-info btn-lg mr-2" (click)="_filexml.click()">Import XML To View</button>
      <button class="btn btn-warning btn-lg" (click)="Clear()">Clear</button>
    </div>
    <hr />
    <div style="height: 65vh; overflow: scroll;">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>Header</h4>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">Author ID</span>
                <div class="text-dese">
                  <input class="form-control" type="text" [(ngModel)]="DataHearder.AuthorID">
                </div>
              </div>
              <div class="col-6">
                <span class="text-label">Author Name</span>
                <div class="text-dese">
                  <input class="form-control" type="text" [(ngModel)]="DataHearder.AuthorName">
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">Effective DateTime</span>
                <div class="text-dese">
                  <div class="row">
                    <div class="col-8">
                      <app-picker-date #DataHearder_EffectiveDateTime
                        (getValue)="DataHearder.EffectiveDateTime=$event"></app-picker-date>
                    </div>
                    <div class="col-4">
                      <app-input-time #DataHearder_EffectiveTime
                        (getValue)="DataHearder.EffectiveTime=$event"></app-input-time>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>ClaimAuth</h4>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">EventCode</span>
                <div class="text-dese">
                  <input class="form-control" type="text" [(ngModel)]="DataClaimAuth.EventCode">
                </div>
              </div>
              <div class="col-6">
                <span class="text-label">Hmain</span>
                <div class="text-dese">
                  <input class="form-control" type="text" [(ngModel)]="DataClaimAuth.Hmain">
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">Hcare</span>
                <div class="text-dese">
                  <input class="form-control" type="text" [(ngModel)]="DataClaimAuth.Hcare">
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>IPADT</h4>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">AN</span>
                <div class="text-dese">
                  <input class="form-control" type="text" [(ngModel)]="DataIPADT.AN">
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">HN</span>
                <div class="text-dese">
                  <input class="form-control" type="text" [(ngModel)]="DataIPADT.HN">
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">IDType</span>
                <div class="text-dese">
                  <select class="form-control" [(ngModel)]="DataIPADT.IDType">
                    <option value=""></option>
                    <option *ngFor="let i of IDTYPEOptions" [value]="IDTYPE[i]">
                      {{IDTYPE[i]}} : {{i}}
                    </option>
                    <!-- <option value="0">0 : บัตรประชาชน</option>
                    <option value="1">1 : ต่างด้าว</option>
                    <option value="2">2 : ใบอนุญาตฯ</option>
                    <option value="3">3 : Passport</option>
                    <option value="9">9 : อื่นๆ</option> -->
                  </select>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">PID</span>
                <div class="text-dese">
                  <input class="form-control" type="text" [(ngModel)]="DataIPADT.PID">
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">Title</span>
                <div class="text-dese">
                  <input class="form-control" type="text" [(ngModel)]="DataIPADT.Title">
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">Name</span>
                <div class="text-dese">
                  <input class="form-control" type="text" [(ngModel)]="DataIPADT.Name">
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">BirthDate</span>
                <div class="text-dese">
                  <app-picker-date #DataIPADT_BirthDate (getValue)="DataIPADT.BirthDate=$event"></app-picker-date>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">Sex</span>
                <div class="text-dese">
                  <select class="form-control" [(ngModel)]="DataIPADT.Sex">
                    <option value=""></option>
                    <option *ngFor="let i of SEXOptions" [value]="SEX[i]">
                      {{SEX[i]}} : {{i}}
                    </option>
                    <!-- <option *ngFor="let i of SEXOptions" [value]="i.Code">
                      {{i.Code}} : {{i.NameShow}}
                    </option> -->
                    <!-- <option value="1">1 : ชาย</option>
                    <option value="2">2 : หญิง</option> -->
                  </select>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">Status</span>
                <div class="text-dese">
                  <select class="form-control" [(ngModel)]="DataIPADT.Status">
                    <option value=""></option>
                    <option *ngFor="let i of MARRIAGEOptions" [value]="MARRIAGE[i]">
                      {{MARRIAGE[i]}} : {{i}}
                    </option>
                    <!-- <option *ngFor="let i of MARRIAGEOptions" [value]="i.Code">
                      {{i.Code}} : {{i.NameShow}}
                    </option> -->
                    <!-- <option value="1">1 : โสด</option>
                    <option value="2">2 : สมรส</option>
                    <option value="3">3 : หม้าย/หย่า</option>
                    <option value="4">4 : อื่นๆ</option> -->
                  </select>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">จังหวัด</span>
                <div class="text-dese">
                  <input class="form-control" type="text" [(ngModel)]="DataIPADT.Province">
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">อำเภอ</span>
                <div class="text-dese">
                  <input class="form-control" type="text" [(ngModel)]="DataIPADT.Amphoe">
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">National</span>
                <div class="text-dese">
                  <select class="form-control" [(ngModel)]="DataIPADT.National">
                    <option value=""></option>
                    <option *ngFor="let i of NATIONOptions" [value]="NATION[i]">
                      {{NATION[i]}} : {{i}}
                    </option>
                    <!-- <option *ngFor="let i of NATIONOptions" [value]="i.Code">
                      {{i.Code}} : {{i.NameShow}}
                    </option> -->
                    <!-- <option value="44">44 : จีน</option>
                    <option value="45">45 : อินเดีย</option>
                    <option value="46">46 : เวียดนาม</option>
                    <option value="48">48 : พม่า</option>
                    <option value="56">56 : ลาว</option>
                    <option value="57">57 : กัมพูชา</option>
                    <option value="97">97 : อื่นๆ</option>
                    <option value="99">99 : ไทย</option> -->
                  </select>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">AdmType</span>
                <div class="text-dese">
                  <select class="form-control" [(ngModel)]="DataIPADT.AdmType">
                    <option value=""></option>
                    <option *ngFor="let i of AdmTypeOptions" [value]="AdmType[i]">
                      {{AdmType[i]}} : {{i}}
                    </option>
                    <!-- <option *ngFor="let i of AdmTypeOptions" [value]="i.Code">
                      {{i.Code}} : {{i.NameShow}}
                    </option> -->
                    <!-- <option value="A">A : Accident</option>
                    <option value="E">E : Emergency</option>
                    <option value="C">C : Elective</option>
                    <option value="L">L : Labor and delivery</option>
                    <option value="N">N : Newborn</option>
                    <option value="U">U : Urgent</option>
                    <option value="O">O : All other</option> -->
                  </select>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">AdmSource</span>
                <div class="text-dese">
                  <select class="form-control" [(ngModel)]="DataIPADT.AdmSource">
                    <option value=""></option>
                    <option *ngFor="let i of AdmSourceOptions" [value]="AdmSource[i]">
                      {{AdmSource[i]}} : {{i}}
                    </option>
                    <!-- <option *ngFor="let i of AdmSourceOptions" [value]="i.Code">
                      {{i.Code}} : {{i.NameShow}}
                    </option> -->
                    <!-- <option value="O">O : OPD ใน รพ.</option>
                    <option value="E">E : แผนก Emergency</option>
                    <option value="S">S : หน่วยบริการอื่นๆ ใน รพ.</option>
                    <option value="B">B : เกิดใน รพ.</option>
                    <option value="T">T : ส่งย้ายจาก รพ. อื่น</option>
                    <option value="R">R : Refer จากแพทย์/รพ. อื่น</option> -->
                  </select>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">Admit DateTime</span>
                <div class="text-dese">
                  <div class="row">
                    <div class="col-8">
                      <app-picker-date #DataIPADT_AdmitDateTime
                        (getValue)="DataIPADT.AdmitDateTime=$event"></app-picker-date>
                    </div>
                    <div class="col-4">
                      <app-input-time #DataIPADT_AdmitTime (getValue)="DataIPADT.AdmitTime=$event"></app-input-time>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">Discharge DateTime</span>
                <div class="text-dese">
                  <div class="row">
                    <div class="col-8">
                      <app-picker-date #DataIPADT_DischargeDateTime
                        (getValue)="DataIPADT.DischargeDateTime=$event"></app-picker-date>
                    </div>
                    <div class="col-4">
                      <app-input-time #DataIPADT_DischargeTime
                        (getValue)="DataIPADT.DischargeTime=$event"></app-input-time>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">Leave Day</span>
                <div class="text-dese">
                  <input class="form-control" type="text" [(ngModel)]="DataIPADT.LeaveDay">
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">Discharge Stat</span>
                <div class="text-dese">
                  <select class="form-control" [(ngModel)]="DataIPADT.DischargeStat">
                    <option value=""></option>
                    <option *ngFor="let i of DischStatOptions" [value]="DischStat[i]">
                      {{DischStat[i]}} : {{i}}
                    </option>
                    <!-- <option *ngFor="let i of DischStatOptions" [value]="i.Code">
                      {{i.Code}} : {{i.NameShow}}
                    </option> -->
                    <!-- <option value="1">1 : Complete recovery</option>
                    <option value="2">2 : Improved</option>
                    <option value="3">3 : Not improved</option>
                    <option value="4">4 : Normal delivery</option>
                    <option value="5">5 : Un-delivery</option>
                    <option value="6">6 : Normal child d/c with mother</option>
                    <option value="7">7 : Normal child d/c separate</option>
                    <option value="8">8 : Stillbirth</option>
                    <option value="9">9 : Dead</option> -->
                  </select>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">Disch Type</span>
                <div class="text-dese">
                  <select class="form-control" [(ngModel)]="DataIPADT.DischType">
                    <option value=""></option>
                    <option *ngFor="let i of DischTypeOptions" [value]="DischType[i]">
                      {{DischType[i]}} : {{i}}
                    </option>
                    <!-- <option *ngFor="let i of DischTypeOptions" [value]="i.Code">
                      {{i.Code}} : {{i.NameShow}}
                    </option> -->
                    <!-- <option value="1">1 : With approval</option>
                    <option value="2">2 : Against advice</option>
                    <option value="3">3 : Escape</option>
                    <option value="4">4 : By transfer</option>
                    <option value="5">5 : Other</option>
                    <option value="8">8 : Dead autopsy</option>
                    <option value="9">9 : Dead not autopsy</option> -->
                  </select>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">Amd WT</span>
                <div class="text-dese">
                  <input class="form-control" type="text" [(ngModel)]="DataIPADT.AmdWT">
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">Discharge Ward</span>
                <div class="text-dese">
                  <input class="form-control" type="text" [(ngModel)]="DataIPADT.DischargeWard">
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">Dept</span>
                <div class="text-dese">
                  <select class="form-control" [(ngModel)]="DataIPADT.Dept">
                    <option value=""></option>
                    <option *ngFor="let i of DeptOptions" [value]="Dept[i]">
                      {{Dept[i]}} : {{i}}
                    </option>
                    <!-- <option *ngFor="let i of DeptOptions" [value]="i.Code">
                      {{i.Code}} : {{i.NameShow}}
                    </option> -->
                    <!-- <option value="01">01 :อายุรกรรม</option>
                    <option value="02">02 : ศัลยกรรม</option>
                    <option value="03">03 : สูติกรรม</option>
                    <option value="04">04 : นรีเวชกรรม</option>
                    <option value="05">05 : กุมารเวช</option>
                    <option value="06">06 : โสตศอนาสิก</option>
                    <option value="07">07 : จักษุ</option>
                    <option value="08">08 : ศัลยกรรมกระดูก</option>
                    <option value="09">09 : จิตเวช</option>
                    <option value="10">10 : รังสีวิทยา</option>
                    <option value="11">11 : ทันตกรรม</option>
                    <option value="12">12 : อื่นๆ</option> -->
                  </select>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>IPDx</h4>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <div>
              <div class="row mb-2">
                <div class="col-6">
                  <span class="text-label">Dx Type</span>
                  <div class="text-dese">
                    <select class="form-control" [(ngModel)]="DataIPDx.DxType">
                      <option value=""></option>
                      <option *ngFor="let i of DxTypeOptions" [value]="DxType[i]">
                        {{DxType[i]}} : {{i}}
                      </option>
                      <!-- <option *ngFor="let i of DxTypeOptions" [value]="i.Code">
                        {{i.Code}} : {{i.NameShow}}
                      </option> -->
                      <!-- <option value="1">1 : Principal diag</option>
                      <option value="2">2 : Comorbidity</option>
                      <option value="3">3 : Complication</option>
                      <option value="4">4 : Other Dx</option>
                      <option value="5">5 : External cause</option> -->
                    </select>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6">
                  <span class="text-label">Code Sys</span>
                  <div class="text-dese">
                    <input class="form-control" type="text" [(ngModel)]="DataIPDx.CodeSys">
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6">
                  <span class="text-label">ICD Code</span>
                  <div class="text-dese">
                    <input class="form-control" type="text" [(ngModel)]="DataIPDx.ICDCode">
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6">
                  <span class="text-label">Diag Term</span>
                  <div class="text-dese">
                    <input class="form-control" type="text" [(ngModel)]="DataIPDx.DiagTerm">
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6">
                  <span class="text-label">DR</span>
                  <div class="text-dese">
                    <input class="form-control" type="text" [(ngModel)]="DataIPDx.DR">
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6">
                  <span class="text-label">Diag Date</span>
                  <div class="text-dese">
                    <app-picker-date #DataIPDx_DiagDate (getValue)="DataIPDx.DiagDate=$event"></app-picker-date>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6 text-right">
                  <button class="btn btn-md btn-primary" (click)="Apply_DataIPDx()">Apply</button>
                </div>
              </div>
            </div>
            <div>
              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>#</th>
                      <th>DxType</th>
                      <th>Code Sys</th>
                      <th>ICD Code</th>
                      <th>Diag Term</th>
                      <th>DR</th>
                      <th>DR</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of ListDataIPDx;">
                      <th scope="row"><button class="btn btn-sm btn-danger" (click)="Delete_DataIPDx(item)">Delete</button></th>
                      <th scope="row">{{item.index}}</th>
                      <td>{{DxType[item.DxType]}}</td>
                      <td>{{item.CodeSys}}</td>
                      <td>{{item.ICDCode}}</td>
                      <td>{{item.DiagTerm}}</td>
                      <td>{{item.DR}}</td>
                      <td>{{item.DiagDate}}</td>
                    </tr>                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>IPOp</h4>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <div>
              <div class="row mb-2">
                <div class="col-6">
                  <span class="text-label">Code Sys</span>
                  <div class="text-dese">
                    <input class="form-control" type="text" [(ngModel)]="DataIPDp.CodeSys">
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6">
                  <span class="text-label">ICDCM Code</span>
                  <div class="text-dese">
                    <input class="form-control" type="text" [(ngModel)]="DataIPDp.ICDCMCode">
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6">
                  <span class="text-label">Proc Term</span>
                  <div class="text-dese">
                    <input class="form-control" type="text" [(ngModel)]="DataIPDp.ProcTerm">
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6">
                  <span class="text-label">DR</span>
                  <div class="text-dese">
                    <input class="form-control" type="text" [(ngModel)]="DataIPDp.DR">
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6">
                  <span class="text-label">Date In</span>
                  <div class="text-dese">
                    <div class="row">
                      <div class="col-8">
                        <app-picker-date #DataIPDp_DateIN
                          (getValue)="DataIPDp.DateIN=$event"></app-picker-date>
                      </div>
                      <div class="col-4">
                        <app-input-time #DataIPDp_DateINTime
                          (getValue)="DataIPDp.DateINTime=$event"></app-input-time>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6">
                  <span class="text-label">Date Out</span>
                  <div class="text-dese">
                    <div class="row">
                      <div class="col-8">
                        <app-picker-date #DataIPDp_DateOut
                          (getValue)="DataIPDp.DateOut=$event"></app-picker-date>
                      </div>
                      <div class="col-4">
                        <app-input-time #DataIPDp_DateOutTime
                          (getValue)="DataIPDp.DateOutTime=$event"></app-input-time>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6">
                  <span class="text-label">Location</span>
                  <div class="text-dese">
                    <input class="form-control" type="text" [(ngModel)]="DataIPDp.Location">
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-6 text-right">
                  <button class="btn btn-md btn-primary" (click)="Apply_DataIPDp()">Apply</button>
                </div>
              </div>
            </div>
            <div>
              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th></th>
                      <th>#</th>
                      <th>Code Sys</th>
                      <th>ICDCM Code</th>
                      <th>Proc Term</th>
                      <th>DR</th>
                      <th>Date In</th>
                      <th>Date Out</th>
                      <th>Location</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of ListDataIPDp">
                      <th scope="row"><button class="btn btn-sm btn-danger" (click)="Delete_DataIPDp(item)">Delete</button></th>
                      <th scope="row">{{item.index}}</th>
                      <td>{{item.CodeSys}}</td>
                      <td>{{item.ICDCMCode}}</td>
                      <td>{{item.ProcTerm}}</td>
                      <td>{{item.DR}}</td>
                      <td>{{item.DateIN}}</td>
                      <td>{{item.DateOut}}</td>
                      <td>{{item.Location}}</td>
                    </tr> 
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>Invoice</h4>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">Invoice Number</span>
                <div class="text-dese">
                  <input class="form-control" type="text" [(ngModel)]="DataInvoice.InvNumber">
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <span class="text-label">Invoice DateTime</span>
                <div class="text-dese">
                  <div class="row">
                    <div class="col-8">
                      <app-picker-date #DataInvoice_InvDT
                        (getValue)="DataInvoice.InvDT=$event"></app-picker-date>
                    </div>
                    <div class="col-4">
                      <app-input-time #DataInvoice_InvTime
                        (getValue)="DataInvoice.InvTime=$event"></app-input-time>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th><mat-checkbox class="example-margin" [(ngModel)]="ChAll_Bill" (change)="CheckAll_Bill($event.checked)">All</mat-checkbox></th>
                      <th>Service Date</th>
                      <th>LC</th>
                      <th>QTY</th>
                      <th>Unit QYT</th>
                      <th>Charge Amt</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of ListBill; index as i">
                      <td>
                        <mat-checkbox class="example-margin" [(ngModel)]="item.checked" (change)="CheckSet_Bill($event.checked)"></mat-checkbox>
                      </td>
                      <td>
                        <div class="row">
                          <div class="col-8">
                            <app-picker-date
                              (getValue)="item.ServiceDate=$event"></app-picker-date>
                          </div>
                          <div class="col-4">
                            <app-input-time
                              (getValue)="item.ServiceTime=$event"></app-input-time>
                          </div>
                        </div>
                      </td>
                      <td>{{item.LCCodeName}}</td>
                      <td><input class="form-control" type="text" [(ngModel)]="item.QTY"></td>
                      <td><input class="form-control" type="text" [(ngModel)]="item.UnitQYT"></td>
                      <td><input class="form-control" type="text" [(ngModel)]="item.ChargeAmt"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>