<!-- ========== Left Sidebar Start ========== -->
<ng-template #contentTemplate>
    <!--- Sidemenu -->
    <div id="sidebar-menu">
        <ul class="metismenu" id="side-menu" #sideMenu>

            <li class="menu-title">Navigation</li>
            <li *ngIf="IsAIPN">
                <a class="waves-effect" [routerLink]="['/aipn/exportaipn']">
                    <i class="remixicon-dashboard-line"></i>
                    <span> Export AIPN Cliam </span>
                </a>
            </li>
            <li *ngIf="IsAIPN">
                <a class="waves-effect" [routerLink]="['/aipn/uploadaipn']">
                    <i class="remixicon-dashboard-line"></i>
                    <span> Upload AIPN </span>
                </a>
            </li>
            <li *ngIf="IsAIPN">
                <a class="waves-effect" [routerLink]="['/aipn/importaipn']">
                    <i class="remixicon-dashboard-line"></i>
                    <span> Import AIPN To XML</span>
                </a>
            </li>
            <li *ngIf="IsCIPN">
                <a class="waves-effect" [routerLink]="['/cipn/exportcipn']">
                    <i class="remixicon-dashboard-line"></i>
                    <span> CIPN</span>
                </a>
            </li>
        </ul>

    </div>
    <!-- End Sidebar -->

    <div class="clearfix"></div>
</ng-template>


<div class="left-side-menu">

    <div class="slimscroll-menu" appSlimScroll *ngIf="!isCondensed">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>

    <div class="slimscroll-menu" *ngIf="isCondensed">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>

</div>
<!-- Left Sidebar End -->