.icon {
    position: static;
    width: 24px;
    height: 24px;
    float: right;
    margin-top: -28px;
    margin-left: -28px;
    font-size: 1.3em;
}
.invisible{
    display: block;
    visibility: hidden;
    height: 10;
    width: 0;
    position: absolute;
  }